env/
content/source/*
!content/source/.include
content/extracted/*
!content/extracted/.include
content/log/*
!content/log/.include
# Keep test files
!content/test/
!content/test/source/
!content/test/source/*
__pycache__/
.DS_Store
*.lock
poetry.lock
.env
*.log
dist/
build/
*.egg-info/
