# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
env/
venv/
.python-version
*.lock
poetry.lock

# OS
.DS_Store
Thumbs.db

# Project directories
content/source/*
!content/source/.include
content/extracted/*
!content/extracted/.include
content/log/*
!content/log/.include

# Test files
content/test/*
!content/test/
!content/test/source/
!content/test/source/*
content/test/output/*
!content/test/output/.include

# Logs
*.log
